# General 
.DS_Store 
Trashes 
.gitignore

# node_modules 
node_modules 

# Vs code 
.vscode 
.npm 

# project 
# dist/scss 
dist/css/style.css.map
dist/css/styles.css.map
src/firebaseConfig.js
.firebase